<form [formGroup]="catalogForm" (ngsubmit)="onSubmit()">
  <ion-card>
     <ion-card-header>
        <ion-card-title>Довідник міст</ion-card-title>
     </ion-card-header>
     <ion-card-content>
        <ion-item>
           <ion-label position="floating">Назва: </ion-label>
           <ion-input id="npap-name" type="text" formControlName="npap_name"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label position="floating">ПІБ: </ion-label>
           <ion-input id="npap-pib" type="text" formControlName="npap_pib"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label position="floating">Площа: </ion-label>
           <ion-input id="npap-area" type="number" formControlName="npap_area"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label position="floating">Середня кількість населення: </ion-label>
           <ion-input id="npap-pop" type="number" formControlName="npap_pop"></ion-input>
        </ion-item>
        <ion-card formArrayName="region">
           <ion-card-header>
              <ion-card-title>Cписок районів</ion-card-title>
           </ion-card-header>
           <ion-card-content>
              <ion-button color="tertiary" (click)="addNpap()">
                 <ion-icon slot="start" name="add"></ion-icon>
                 Додати спосіб
              </ion-button>
              <ion-item *ngFor="let region of getControls(); let i = index">
                 <ion-input type="text" formControlName={{i}} placeholder="Назва району"></ion-input>
                 <ion-button color="tertiary" (click)="deleteNpap(i)">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    Видалити
                 </ion-button>
                </ion-item>
           </ion-card-content>
        </ion-card>
     </ion-card-content>
  </ion-card>
  <ion-button type="submit" color="success" expand="block" (click)="onSubmit()">
   Submit
  </ion-button>
</form>